<a class="back-button" href="<%= clubs_url %>">ALL CLUBS</a>


<% if current_user  && @club.creator == current_user%>
<div class="club-show-page">
<div class="add-club-wrapper">
  <button class="add-club-widget" href="#">+</button>
  <div class="add-club">
    <%= render "new_book", books: Book.all - @clubbooks %>
  </div>
</div>
</div>
<% end %>

<header class="page-title"><%= @club.title %></header>
Creator: <a href="<%= user_url(@club.creator.id) %>"><%= @club.creator.name %></a>


<div class="follow-section">
    <%=render partial: "clubs/follow_club", locals: {is_current_user_member: @is_current_user_member, club: @club, books: @clubbooks } %>
</div>


<header class="sub-title">Filter</header>
<div class="filter-buttons">
    <%= button_to "ALL", club_filter_url(@club.id, {book_id: 0}), remote: true %>
<% @clubbooks.each do |book| %>
  <%= button_to book.title, club_filter_url(@club.id, {book_id: book.id}), remote: true %>
  <!-- <button><%= book.title %></button> -->
<% end %>
</div>


<header class="sub-title">Posts</header>
<div class="posts-list">
  <%= render "posts/list_posts", :posts => @posts, :club_page => "hide-tag" %>
</div>



<script>
$(document).ready(function (){
  
  var commentAnchor = window.location.hash.substr(1);
  var postAnchor = window.location.search.substr(1);
  if(commentAnchor) {
    var $post = $('a[name="' + postAnchor +'"]');
    var $commentSection = $post.parent().children(".post-comments");
  
    $commentSection.show();  
    $(document).scrollTop( $('a[name="' + commentAnchor +'"]').offset().top );  
  }
  
  // On successful comment creation
  $("div.filter-buttons").on("ajax:success", ".button_to", function (event, data) {
    event.preventDefault();
    $(".posts-list").html(data)
  });
  
  $(document).ready( function () {
    $('div.add-club').hide();
  
  
    $('.add-club-widget').on("click", function (event) {
      event.preventDefault()
      $('div.add-club').toggle();
    })
  })
  
  $("body").on("ajax:success", ".follow-form", function (event, data) {
    event.preventDefault();
    
    console.log(data)
    $insertion = $(".follow-section")
    $insertion.html(data)
  });
  
  $("body").on("ajax:error", ".follow-form", function (event, data) {
    event.preventDefault();

    $insertion = $(".follow-section")
    $insertion.html(data)

  });

});
</script>
