<a href="<%= clubs_url %>">ALL CLUBS</a><br>

<header class="page-title"><%= @club.title %></header>
Creator: <a href="<%= user_url(@club.creator.id) %>"><%= @club.creator.name %></a>

<% @clubbooks.each do |book| %>
  <button><%= book.title %></button>
<% end %>

<header class="sub-title">Posts</header>
<div class="posts-list">
  <%= render "posts/list_posts", :posts => @posts, :club_page => "hide-tag" %>
</div>

<% if current_user %>
	<header class="sub-title">New Post</header>
  <div class="new-post">
  	<%= render "posts/form_post", books: @clubbooks, post_path: club_posts_url(@club.id)  %>
  </div>
<% end %>

