<a href="<%= clubs_url %>">All Club</a><br>

Name: <%= @club.title %><br>
Creator: <a href="<%= user_url(@club.creator.id) %>"><%= @club.creator.name %></a>


<h3>New Post</h3>
<form action="<%= club_posts_url(@club.id) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>

  <label>Title
  <input type="text" name="post[title]"></input>
  </label>
  <br>
  <label>Body
  <input type="text" name="post[body]"></input>
	<br>
  </label>Book:
	<select name="post[book_id]">
		<% @clubbooks.each do |book| %>
		<option value="<%= book.id %>"><%= book.title %></option>
		<% end %>
	</select>

  </label>



  <input type="submit" value="Post!"></input>
</form>


<br>Reviews:
<table>

  <% @posts.each do |post| %>
  <tr>
    <th><%= post.bookname %></th>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><a href="<%= user_url(post.user_id) %>"><%= post.username %></a></td>
   </tr>
  <% end %>

</table>

