<a href="<%= clubs_url %>">ALL CLUBS</a><br>

<header class="page-title"><%= @club.title %></header>
Creator: <a href="<%= user_url(@club.creator.id) %>"><%= @club.creator.name %></a>

<% @clubbooks.each do |book| %>
  <button><%= book.title %></button>
<% end %>

<h3>Posts</h3>
<%= render "posts/posts", :posts => @posts, :club_page => "hide-tag" %>


<h3>New Post</h3>
<%= render "posts/form_post", type: "post", books: @clubbooks, post_path: club_posts_url(@club.id)  %>


