sendgrid

<div class="trial-logins">
<%= button_to "Free ADMIN access", session_url(@book, {user: {email: "dummyAdmin", password: "whydidiletyouin"} }) %>
<%= button_to "Try App!", session_url(@book, {user: {email: "dummyRegular", password: "okayGO"} }) %>
</div>

<article>

  <form action="<%= session_url %>" method="POST">
    <input type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    </input>

    <label>Email
    <input type="text" name="user[email]"></input>
    </label>
    <br>

    <label>Password
    <input id="#button" type="password" name="user[password]"></input>
    </label>
    <br>

    <input id="#button" type="submit" value="Log In"></input>
  </form>

  <%= link_to "Request", request_url %>

</article>
