<section id="main">
  <nav>
    <a href="<%= users_admin_url %>">Users</a>
    <a href="<%= clubs_admin_url %>">Clubs</a>
    <a href="<%= requests_admin_url %>">Requests</a>
  </nav>
  <br>



<section id="clubs">
  <h3>Pending</h3>

<table>
  <tr>
    <th>Name: </th>
    <th>Email: </th>
    <th>Deny </th>
  </tr>
  <% @pending.each do |user| %>
  <tr>
    <td><%= user.name %></a></td>
    <td><%= user.email %></td>
		<td><%= button_to "X", user_url(user.id), method: :delete %></td>
    <td><%= button_to "=>", user_approve_url(user.id)%></td>
  </tr>
  <% end %>

</table>
</section>

<section id="clubs">
  <h3>Requests</h3>
<table>
  <tr>
    <th>Name: </th>
    <th>Email: </th>
    <th>Approve </th>
    <th>Deny </th>
  </tr>
  <% @requests.each do |user| %>
  <tr>
    <td><%= user.name %></a></td>
    <td><%= user.email %></td>
    <td><%= button_to "+", user_approve_url(user.id)%></td>
		<td><%= button_to "X", user_url(user.id), method: :delete %></td>
  </tr>
  <% end %>

</table>
</section>

</section>