<% icon = icon || "?" %>

<table>
  <tr>
    <th class="admin">St: </th>
    <th>Name: </th>
    <th>Email: </th>
  </tr>
	
  <% users.each do |user| %>
	<tr>
		<td>
		  <%= "S" if user.admin == 0 %>
		  <%= "T" if user.admin == 1 %>
		  <%= "A" if user.admin == 2 %>
		</td>
		<td>
			<a href="<%= user_url(user.id) %>">
				<%= user.name %>
			</a>
		</td>
    <td>
			<%= user.email %>
		</td>
		
		<td class="admin">
			<%= button_to icon, user_approve_url(user.id)%>
		</td>
		<td class="admin">
			<%= button_to "X", user_url(user.id), method: :delete %>
		</td>
		
  </tr>
  <% end %>

</table>

