<% icon = icon || nil %>
<% req_page = req_page || nil %>
<% usr_page = usr_page || nil %>


<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th class="admin <%= req_page %>">St: </th>
  </tr>
	
  <% users.each do |user| %>
	<tr>
		<td>
			<a href="<%= user_url(user.id) %>">
				<%= user.name %>
			</a>
		</td>
    <td>
			<%= user.email %>
		</td>
		<td class="admin <%= req_page%>">
		  <%= "S" if user.admin == 0 %>
		  <%= "T" if user.admin == 1 %>
		  <%= "A" if user.admin == 2 %>
		</td>
		<td class="admin <%= usr_page %>" >
			<%= button_to icon, user_approve_url(user.id)%>
		</td>
		<td class="admin">
			<%= button_to "X", user_url(user.id), method: :delete %>
		</td>
		
  </tr>
  <% end %>

</table>

