<a class="back-button" href="<%= users_url %>">ALL Users</a>
<header class="page-title"><%= @user.name %></header>
<h3><%= @user.email %></h3>

<img src="<%= @user.image %>"></img>
<table>
	<header class="sub-title">Read List:</header>
	<% @read_books_with_rating.each do |pair| %>
	<tr>
		<td><%= pair[:taste] %>
			<a href="<%= book_url(pair[:book].isbn) %>">
				<%= pair[:book].title %>
			</a>
		</td>
	</tr>
	<% end %>
</table>


<table>
	<header class="sub-title">Wish List:</header>
	<% @wishes.each do |wish| %>
	<tr>
		<td>
			<a href="<%= book_url(wish.book.isbn) %>">
				<%= wish.book.title %>
			</a>
		</td>
	</tr>
	<% end %>
</table>


<header class="sub-title">Reviews:</header>
<%= render "posts/list_posts", :posts => @reviews, :a_review => "hide-tag" %>

<br>
<header class="sub-title">Posts:</header>

<%= render "posts/list_posts", :posts => @posts, :a_post => "hide-tag" %>
