<header class="page-title"><%= @user.name %></header>
<h3><%= @user.email %></h3>

<table>
	<header class="sub">Read List:</header>
	<% @reads.each do |book| %>
	<tr>
		<td><%= book.taste == 1 ? "^ " : "v "%>
			<a href="<%= book_url(book.book.isbn) %>">
				<%= book.book.title %>
			</a>
		</td>
	</tr>
	<% end %>
</table>


<table>
	<header class="sub">Wish List</header>
	<% @wishes.each do |wish| %>
	<tr>
		<td>
			<a href="<%= book_url(wish.book.isbn) %>">
				<%= wish.book.title %>
			</a>
		</td>
	</tr>
	<% end %>
</table>


<header class="sub">Reviews:</header>
<%= render "posts/posts", :posts => @reviews, :a_review => "hide-tag" %>

<br>
<header class="sub">Posts:</header>

<%= render "posts/posts", :posts => @posts, :a_post => "hide-tag" %>
