<header class="page-title"><%= @book.title %></header>
<h3><%= @book.author %></h3>

   <%= @book.isbn %>
   <img class="cover" src="<%= @book.pic %>" width="50">
<br>

		<% if @book_rating.nil? %>
			<% button_class = "is-none" %>
		<% elsif @book_rating.taste == 0%>
			<% button_class = "is-wish" %>
		<% elsif @book_rating.taste == 1 %>
			<% button_class = "is-like" %>
		<% elsif @book_rating.taste == -1 %>
			<% button_class = "is-dislike" %>
		<% end %>
		
		<div class="<%= button_class %>">
		<div id="like"><%= button_to "#{@like_count} Likes", book_like_url(@book, {taste: "1"}) %></div>
		<div id="unlike"><%= button_to "#{@like_count} Likes", book_like_url(@book), method: :delete %></div>
		<div id="dislike"><%= button_to "#{@dislike_count} Dislikes", book_like_url(@book, {taste: "-1"}) %></div>
		<div id="undislike"><%= button_to "#{@dislike_count} Dislikes", book_like_url(@book), method: :delete %></div>
		<div id="wish"><%= button_to "+Wish", book_like_url(@book, {taste: "0"}) %></div>
		<div id="unwish"><%= button_to "+Unwish", book_like_url(@book), method: :delete%></div>
		</div>


   <h3>Reviews:</h3>
	 <%= render "posts/posts", :posts => @posts, :book_page => "hide-tag" %>
	 

   <% if @current_user_review %>
   <h3>My Review</h3>
    <table>
		<tr>
			<td><%= @current_user_review.title %></td>
 			<td><%= @current_user_review.body %></td>
		<tr>
		</table>
   <% else %>
	 <h3>New Review</h3>
	 <%= render "posts/form_post", type: "review", post_path: book_reviews_url(@book.id) %>
	 <% end %>
