<% if current_user %>
	<% if @book_rating.nil? %>
		<% button_class = "is-none" %>
	<% elsif @book_rating.taste == 0%>
		<% button_class = "is-wish" %>
	<% elsif @book_rating.taste == 1 %>
		<% button_class = "is-like" %>
	<% elsif @book_rating.taste == -1 %>
		<% button_class = "is-dislike" %>
	<% end %>

  <% if @current_user_review %>
    <% button_class += " is-reviewed" %>
  <% end %>
<% else %>
  <% button_class = "no-user" %>
  <!-- <%= @like_count %> Likes <%= @dislike_count %> Dislikes -->
<% end %>



<a class="back-button" href="<%= books_url %>">ALL BOOKS</a>

<header class="page-title"><%= @book.title %></header>

  <div class="group">
    <div class="book-description">
      <h3 class="author"><%= @book.author %></h3>
      <div class="desctiprion"><%= @book.description.html_safe %></div>
    </div>
    <div class="book-image">
      <img class="cover" src="<%= @book.pic %>">
        <ul class="<%= button_class %>">
          <li id="like"><%= button_to "#{@like_count} Likes", book_like_url(@book, {taste: "1"}) %></li>
          <li id="unlike"><%= button_to "#{@like_count} Likes", book_like_url(@book), method: :delete %></li>
          <li id="dislike"><%= button_to "#{@dislike_count} Dislikes", book_like_url(@book, {taste: "-1"}) %></li>
          <li id="undislike"><%= button_to "#{@dislike_count} Dislikes", book_like_url(@book), method: :delete %></li>
          <li id="wish"><%= button_to "+Wish", book_like_url(@book, {taste: "0"}) %></li>
          <li id="unwish"><%= button_to "+Unwish", book_like_url(@book), method: :delete%></li>
        </ul>
  		</div>
    </div>

    <div class="my-post">
    <% if @current_user_review %>
      <header class="sub-title">My Review
        <%= button_to "DELETE",   post_url(@current_user_review), class: "delete", method: :delete, :remote => true, form_class: "post-delete-form" %>
        <a  href="#" class="edit">edit</a></header>
      <%=render partial: "posts/post", locals: {post: @current_user_review} %>
    <% elsif current_user %>
     	 <header class="sub-title">New Review</header>
     	 <%= render "posts/form_review", book: @book  %>
 	 <% end %>
   </div>



   <header class="sub-title">Reviews:</header>
   <div class="posts-list">
	   <%= render "posts/list_posts", :posts => @posts, :book_page => "hide-tag" %>
   </div>


<script>
$(document).ready(function (){ 
    $("body").on("ajax:success", ".post-delete-form", function (event, data) {
      event.preventDefault();
      
      console.log(data)
      $insertion = $(".my-post")
      $insertion.children(".sub-title").html("New Review")
      $insertion.append(data)


      $insertion.children(".post").remove()

    });
    
    
    $("body").on("ajax:error", ".post-delete-form", function (event, data) {
      event.preventDefault();
      
      conosle.log("WTF")
      console.log(data)
      // conosle.log($("sub-title")[0].html())
      // // $postsList = $(this).parent().siblings(".posts-list");
      // // $postsList.prepend(data);
      // 
      // $("sub-title")[0].html("New Post")
      // $(".post").append(data)
    });
    

});
</script>
