<section id="main">
<table></table>
<h3><%= @book.title %></h3>
<h5><%= @book.author %></h5>
   
   <%= @book.isbn %>
   <img class="cover" src="<%= @book.pic %>" width="50">
<br>
<button>Like!</button>
<button>DisLike!</button>

<% if @wish.nil? %>
<%= button_to "+Wish", book_wishLists_url(@book) %>
<% else %>
<%= button_to "+Unwish", book_wishList_url(@book,@wish.id), method: :delete%>
<% end %>


   <h3>Reviews:</h3>
   <table>
		 <tr><h4><td><h4>Title</h4></td><td><h4>Body</h4></td><td><h4>Reviewer</h4></td></h4></tr>
     <% @posts.each do |post| %>
     <tr>
       <td><%= post.title %></td>
       <td><%= post.body %></td>
       <td><a href="/users/<%= post.userid %>"><%= post.username %></a></td>
      </tr>
     <% end %>
   </table>


   <h3>New Review</h3>
   <form action="<%= book_reviews_url(@book.id) %>" method="POST">
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"></input>

     <label>Title
     <input type="text" name="review[title]"></input>
     </label>
     <br>
     <label>Body
     <input type="text" name="review[body]"></input>
     </label>

     <input type="submit" value="Review!"></input>
   </form>
 </section>