<a class="back-button" href="<%= books_url %>">ALL BOOKS</a>

<header class="page-title"><%= @book.title %></header>

  <div class="group">
    <div class="book-description">
      <h3 class="author"><%= @book.author %></h3>
      <div class="desctiprion"><%= @book.description.html_safe %></div>
    </div>
    <div class="book-image">
      <img class="cover" src="<%= @book.pic %>">
      <div class="likes-section">
              <%=render partial: "likes/list_likes", locals: {book: @book, is_reviewed: @current_user_review, book_rating: @book_rating, dislike_count: @dislike_count, like_count: @like_count} %>
      </div>
  		</div>
    </div>


    <div class="my-post">
    <% if @current_user_review %>
      <header class="sub-title">My Review</header>
      <%=render partial: "posts/post", locals: {post: @current_user_review, modifiable: true, is_review: true} %>
    <% elsif current_user %>
     	 <header class="sub-title">New Review</header>
     	 <%= render "posts/form_review", book: @book  %>
 	 <% end %>
   </div>


   <header class="sub-title">Reviews:</header>
   <div class="posts-list">
	   <%= render "posts/list_posts", :posts => @posts, :book_page => "hide-tag", is_review: true %>
   </div>


<script>
$(function (){
  
  var commentAnchor = window.location.hash.substr(1);
  var postAnchor = window.location.search.substr(1);
  if(commentAnchor) {
    var $post = $('a[name="' + postAnchor +'"]');
    var $commentSection = $post.parent().children(".post-comments");
  
    console.log(commentAnchor)
    console.log($(document).scrollTop( $('a[name="' + commentAnchor +'"]')).offset())
    $commentSection.show();  
    $(document).scrollTop( $('a[name="' + commentAnchor +'"]').offset().top );  
  }

});
</script>