<header class="page-title"><%= @book.title %></header>
<h3><%= @book.author %></h3>


   <%= @book.isbn %>
	 <div class="group">
   <img class="cover" src="<%= @book.pic %>">

		<% if current_user %>
			<% if @book_rating.nil? %>
				<% button_class = "is-none" %>
			<% elsif @book_rating.taste == 0%>
				<% button_class = "is-wish" %>
			<% elsif @book_rating.taste == 1 %>
				<% button_class = "is-like" %>
			<% elsif @book_rating.taste == -1 %>
				<% button_class = "is-dislike" %>
			<% end %>

			<ul class="<%= button_class %>">
			<li id="like"><%= button_to "#{@like_count} Likes", book_like_url(@book, {taste: "1"}) %></li>
			<li id="unlike"><%= button_to "#{@like_count} Likes", book_like_url(@book), method: :delete %></li>
			<li id="dislike"><%= button_to "#{@dislike_count} Dislikes", book_like_url(@book, {taste: "-1"}) %></li>
			<li id="undislike"><%= button_to "#{@dislike_count} Dislikes", book_like_url(@book), method: :delete %></li>
			<li id="wish"><%= button_to "+Wish", book_like_url(@book, {taste: "0"}) %></li>
			<li id="unwish"><%= button_to "+Unwish", book_like_url(@book), method: :delete%></li>
			</ul>

		<% else %>
			<%= @like_count %> Likes <%= @dislike_count %> Dislikes
		<% end %>
		</div>

   <header class="sub-title">Reviews:</header>
   <div class="posts-list">
	   <%= render "posts/list_posts", :posts => @posts, :book_page => "hide-tag" %>
   </div>

   <% if @current_user_review %>
   <header class="sub-title">My Review</header>
    <table>
		<tr>
			<td><%= @current_user_review.title %></td>
 			<td><%= @current_user_review.body %></td>
		<tr>
		</table>
   <% elsif current_user %>
   <div class="new-post">
  	 <header class="sub-title">New Review</header>
    	 <%= render "posts/form_post", post_path: book_review_url(@book.id) %>
     </div>
	 <% end %>


