<% a_review = a_review || "" %>
<% a_post = a_post || "" %>
<% book_page = book_page || "" %>
<% club_page = club_page || "" %>


	<% posts.each do |post| %>
	<ul class="post">

    <header class="post-header">
  		<% unless book_page.empty? && club_page.empty? %>
  			<li class="poster"><a href="<%= user_url(post.user_id) %>"><%= post.user.name %></a></li>
  		<% end %>
    	<li class="post-title"><%= post.created_at %></li>

    </header>
    <div class="post-contents">
    	<li class="post-body"><%= post.body %></li>
    </div>
    <footer class="post-footer">
  		<% if book_page.empty? %>
    	<li class="book-title">
  			<a href="<%= book_url(post.book.isbn) %>">
  				<%= post.book.title %>
  			</a>
      </li>
  		<% end %>

  		<% unless a_post.empty? %>
  		<li class="club-title">
  			<a href="<%= club_url(post.club) %>">
  				<%= post.club.title %>
  			</a>
  		</li>
  		<% end %>


      <li class="comment-button"><a href="#">Comment</a></li>

    </footer>

    <div class="post-comments hide-tag">
        <div class="comments-list"><% post.top_level_comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
          <% end %></div>
          <% if current_user %>
            <%= render "comments/form_comment", post: post %>
          <% end %>
    </div>

 </ul>


	<% end %>

<script>

$(document).ready(function (){

  // On click of comment button drop down of comments appear
  $(".comment-button").on("click", function (event){
    event.preventDefault();
    $commentButton = $(this)
    $(".post-comments").addClass("hide-tag")
    $commentButton.parent().next().toggleClass("hide-tag")
  });

  // On successful comment post
  $(".post-comments").on("ajax:success", function (event, data) {
    event.preventDefault();

    $commentsList = $(this).children(".comments-list")
    $errors = $commentsList.children(".errors")
    $errors.remove();


    $commentsList.append(data);

  });

  // on unsuccessful comment post
  $(".post-comments").on("ajax:error", function (event, data) {
    event.preventDefault();

    $commentsList = $(this).children(".comments-list")
    $errors = $commentsList.children(".errors")
    $errors.remove();

    $commentsList.append('<div class="errors">' + data.responseText + '</div>');
  });

});
</script>