<% a_review = a_review || "" %>
<% a_post = a_post || "" %>
<% book_page = book_page || "" %>
<% club_page = club_page || "" %>

<table >
	<tr>
		<th class="<%= book_page %>">Book Name</th>
		<th class="<%= a_review + book_page + club_page%>">Book Club</th>
		<th >Title</th>
		<th>Body</th>
		<th class="<%= a_review + a_post %>">Poster</th>
	</tr>
	<% posts.each do |post| %>
	<tr>

		<% if book_page.empty? %>
  	<td>
			<a href="<%= book_url(post.book.isbn) %>">
				<%= post.book.title %>
			</a>
		</td>
		<% end %>

		<% unless a_post.empty? %>
		<td>
			<a href="<%= club_url(post.club) %>">
				<%= post.club.title %>
			</a>
		</td>
		<% end %>

  	<td><%= post.title %></td>
  	<td><%= post.body %></td>

		<% unless book_page.empty? && club_page.empty? %>
			<td><a href="<%= user_url(post.user_id) %>"><%= post.username %></a></td>
		<% end %>

    <!-- <td>
      <%= link_to "Comment", new_post_comment_url(post.id) %>
    </td> -->

 </tr>

<!-- <tr>
    <% post.top_level_comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
      <% end %>
</tr> -->
	<% end %>
</table>

