<!DOCTYPE html>
<html>
<head>
  <title>GoodReadsClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <% if current_user%>
      <header style="float:right;color:white;text-align:right;">
        <a href="<%= user_url(current_user) %>"><%= current_user.name %></a>
      </header>
      <header id="logo">
        <a href="<%= root_url %>">GoodReadsClone</a>
      </header>
        <%= button_to "Log Out", session_url, method: :delete %>
    <% else %>
      <header id="logo">GoodReadsClone</header>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
