<!DOCTYPE html>
<html>
<head>
  <title>GoodReadsClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- <nav>
    <% if current_user%>
      <header style="float:right;color:white;text-align:right;">
        <a href="<%= user_url(current_user) %>"><%= current_user.name %></a>
      </header>
      <header id="logo">
        <a href="<%= root_url %>">GoodReadsClone</a>
        <% if current_user.id == 1 %>
          <%= link_to "ADMIN", home_admin_url %>
        <% end %>
      </header>
        <%= button_to "Log Out", session_url, method: :delete %>
    <% else %>
      <header id="logo">GoodReadsClone</header>
    <% end %>
  </nav>

	<% if flash.now[:errors] %>
	  <% flash.now[:errors].each do |error| %>
	   <%= error %><br />
	  <% end %>
	<% end %> -->


	<%= yield %>

</body>
</html>
